<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cimc.order.common.mapper.SysDictDataMapper">

    <resultMap id="BaseResultMap" type="com.cimc.order.common.domain.SysDictData">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
            <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="dictKey" column="dict_key" jdbcType="VARCHAR"/>
            <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="dictSort" column="dict_sort" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_code,dict_code,
        dict_type,dict_key,dict_value,
        is_default,status,remark,
        dict_sort,create_time,update_time
    </sql>
</mapper>
